@import url('https://fonts.googleapis.com/css?family=Raleway:regular, 700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Playfair Display:700');

@import '_normalize.scss';
@import '_reset.scss';

* {
  box-sizing: border-box;
}

$bg-color: #242b33;
$goldColor: #d4c17f;

body {
  font-family: 'Raleway';
  background: #242b33;
  color: #fff;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*='__container'] {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.subtitle {
  font-family: 'Playfair Display';
  font-weight: 700;
  font-size: 36px;
  color: $goldColor;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 255px;
  height: 50px;
  background: rgba(#bebebe, 0.2);
  font-size: 14px;
  color: #bebebe;
  border: none;
  text-align: center;
}

.button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 255px;
  height: 50px;
  background: rgba(#bebebe, 0.2);
  font-size: 14px;
  color: #bebebe;
  &:hover {
    background: rgba(#bebebe, 0.4);
  }

  &_gold {
    background-color: $goldColor;
    opacity: 1;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    &:hover {
      background-color: rgba($goldColor, 0.8);
    }
  }
}

/*---------------------------------------*/
.header {
  min-height: 840px;
  background: linear-gradient(
      180deg,
      #242b33 11.98%,
      rgba(45, 52, 60, 0.38) 51.04%,
      #242b33 92.19%
    ),
    url('../img/bg.jpg') center/cover no-repeat;
  text-align: center;
  &__top {
    height: 126px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 170px;
  }
  &__block {
    text-align: center;
  }
  &__title {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 48px;
    color: $goldColor;
    text-align: center;
    margin-bottom: 100px;
  }
  &__icon {
    margin-bottom: 200px;
  }
  &__contacts {
    display: flex;
    justify-content: center;
    gap: 100px;
    font-size: 18px;
    color: #ffffff;
    flex-wrap: wrap;
  }
  &__adress,
  &__phone {
    flex: 0 0 260px;
    display: flex;
    align-items: center;
    gap: 15px;
  }
}
.logo {
  text-align: left;
  img {
    padding: 15px 0;
  }
}
.menu {
  &__list {
    display: flex;
  }

  &__item {
    list-style-type: none;
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
  &__link {
    font-size: 14px;
    letter-spacing: 0.05em;
    color: #ffffff;
    text-decoration: none;
    &:hover {
      color: $goldColor;
    }

    &_active {
      color: $goldColor;
    }
  }
}

.advantages {
  min-height: 420px;
  padding-top: 120px;
  text-align: center;
  &__items {
    display: inline-flex;
    max-width: 809px;
    text-align: center;
  }

  &__item {
    margin-right: 70px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__img {
    margin-bottom: 53px;
  }

  &__text {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
  }
}

.ourflats {
  min-height: 800px;

  &__subtitle {
    margin-bottom: 100px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    padding: 250px 0 0 50px;
    width: 525px;
    height: 320px;
    flex: 0 1 auto;
    font-size: 24px;

    &_1 {
      background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242b33 100%),
        url('../img/Rectangle1.jpg') center/cover no-repeat, #d4c17f;
    }
    &_2 {
      background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242b33 100%),
        url('../img/Rectangle2.jpg') center/cover no-repeat, #d4c17f;
    }
    &_3 {
      background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242b33 100%),
        url('../img/Rectangle3.jpg') center/cover no-repeat, #d4c17f;
    }
    &_4 {
      background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242b33 100%),
        url('../img/Rectangle4.jpg') center/cover no-repeat, #d4c17f;
    }
  }
}

.watch {
  padding-top: 180px;
  min-height: 560px;
  background: linear-gradient(
      180deg,
      #242b33 10.42%,
      rgba(36, 43, 51, 0) 50.52%,
      #242b33 90.1%
    ),
    url('../img/bg-down.png'), rgba(36, 43, 51, 0.9);

  &__content {
    display: flex;
    flex-direction: row;
    gap: 35px;
  }

  &__left {
    max-width: 535px;
  }

  &__right {
    padding-top: 65px;
    max-width: 540px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 35px;
    column-gap: 30px;
  }

  &__subtitle {
    margin-bottom: 50px;
  }

  &__text {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  &__quotte {
    padding-top: 11px;
    max-width: 255px;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #e7e7e7;
  }
}

.preview {
  text-align: center;
  min-height: 835px;
  &__video {
    width: 720px;
    height: 650px;
  }
}

.location {
  min-height: 680px;
  &__subtitle {
    margin-bottom: 100px;
  }

  &__map {
    text-align: center;
    width: 100%;
    height: 360px;
  }
}

.questions {
  min-height: 320px;

  &__subtitle {
    margin-bottom: 50px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__quotte {
    max-width: 255px;
    text-align: center;
    font-size: 13px;
    line-height: 16px;
    color: #e7e7e7;
  }
}

.footer {
  padding-top: 60px;
  min-height: 272px;
  background: #2d343c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.about {
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }
  &__link {
    font-size: 14px;
    letter-spacing: 0.05em;
    color: #ffffff;
    text-decoration: none;
  }
}
.social {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #ffffff;

  &__link {
    font-size: 14px;
    letter-spacing: 0.05em;
    color: #ffffff;
	 text-decoration: none;

	 &_gold{
		color: $goldColor
	 }
  }

  &__links {
	margin-top: 20px;
	display: flex;
	gap: 20px;
  }
}
